APPLE_ID=your_apple_id
TEAM_ID=your_team_id

MATCH_GIT_URL=git@github.com:your-organization/ios-certificates.git
MATCH_GIT_BASIC_AUTHORIZATION=your_git_basic_authorization
MATCH_PASSWORD=your_match_password

APP_IDENTIFIER=com.example.CSUSTPlanet
WIDGET_IDENTIFIER=com.example.CSUSTPlanet.CSUSTPlanetWidget

APP_STORE_CONNECT_API_KEY_KEY_ID=your_key_id
APP_STORE_CONNECT_API_KEY_ISSUER_ID=your_issuer_id
APP_STORE_CONNECT_API_KEY_KEY_CONTENT=your_key_content
